{{define "subject"}}Book Club Management API Password Reset{{end}}

{{define "plainBody"}}
Howdy,

You are receiving this email because you requested a password reset. If you did not request a token, you can safely ignore this email.

If you did request a password reset, please send a request to the `PUT api/v1/users/password` endpoint with the following JSON body to reset your password:
{"token": "{{.passwordToken}}"}

Please note that this is a one-time use token and it will expire in 30 minutes.

Thanks,
Cahlil
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Howdy,</p>
    <p>You are receiving this email because you requested a password reset. If you did not request a token, you can safely ignore this email.</p>
    <p>If you did request a password reset, please send a request to the <code>PUT api/v1/users/password</code> endpoint with the following JSON body to reset your password:</p>
    <pre><code>{"password": "new_password", "token": "{{.passwordToken}}"}</code></pre>
    <p>Please note that this is a one-time use token and it will expire in 30 minutes.</p> 
    <p>Thanks,</p>
    <p>Cahlil</p>
</body>
</html>
{{end}}